@import url(./variables.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url(./layout.css);


.log-in {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  input {
    padding-right: 30px;
    padding: 10px;
    margin-top: 15px;
    border: 0.5px solid;
    border-radius: 5px;
    color: var(--grey);
  }
}
.password a {
  text-decoration: none;
  font-size: 10px;
  justify-content: center;
  color: var(--black);
  padding: 10px;
}
p {
  display: flex;
  font-size: 12px;
  color: var(--black);
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.new {
  font-size: 12px;
  a {
    color: var(--blue);
    text-decoration: none;
  }
}

button {
  color: var(--white);
  background-color: var(--blue);
  border: none;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;

  li {
    list-style-type: none;
    a {
      flex-direction: row;
      color: var(--black);
      font-size: 10px;
      text-decoration: none;
      margin-left: 15px;
    }
  }
}
